django>=1.11.19
django-forms-bootstrap==3.1.0
django-jsonfield==1.0.1
django-stripe-payments==2.0.0
Jinja2>=2.10.1
gunicorn==19.9.0
Pillow==10.0.1
psycopg2==2.8.2
votes==1.0.1
stripe==2.10.0
python-dateutil==2.7.2
whitenoise==4.1.2
virtualenv==16.0.0
django-heroku==0.3.1
boto3==1.9.149
django-storages==1.7.1